*{
  background-color: antiquewhite;
}
.App {
 
  text-align: center;
  font-family: Arial, sans-serif;
}

.color-picker input {
  margin: 0 5px;
}

.color-picker button {
  margin-left: 10px;
}

.gradient-type-selector {
  margin: 20px 0;
}

.preview {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin-top: 20px;
}
